<%= form_with model: @article do |f| %>
  <div class="mt-2">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mt-2">
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  </div>

  <p class="mt-2"><%= f.submit class: 'btn btn-primary mt-1' %></p>
<% end %>
